<!DOCTYPE html>
<html lang="en" ng-app="furnitureApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>tunely</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-route/angular-route.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/controllers/FurnituresIndexController.js"></script>

  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to my list of furniture</h1>
      </div>
    </div>

    <div ng-view></div>
  </body>

</html>
