<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class='row'>
                <div class="col-md-3 col-xs-12 thumbnail">
                  <img src="images/800x800.png" alt="album image">
                </div>

                <div class="col-md-9 col-xs-12">
                  <ul class="list-group form-inline">
                    <li class="list-group-item">
                      <h4 class='inline-header'>Album Name:</h4>
                      <span ng-hide="editing">{{albumsShowCtrl.album.name}}</span>
                      <input ng-show="editing" ng-model="albumsShowCtrl.album.name" type="text" class="form-control input-md">
                    </li>

                    <li class="list-group-item">
                      <h4 class='inline-header'>Artist Name:</h4>
                      <span ng-hide="editing">{{albumsShowCtrl.album.artistName}}</span>
                      <input ng-show="editing" ng-model="albumsShowCtrl.album.artistName" type="text" class="form-control input-md">
                    </li>

                    <li class="list-group-item">
                      <h4 class='inline-header'>Released date:</h4>
                      <span ng-hide="editing">{{albumsShowCtrl.album.releaseDate}}</span>
                      <input ng-show="editing" ng-model="albumsShowCtrl.album.releaseDate" type="text" class="form-control input-md">
                    </li>

                    <li class="list-group-item">
                      <h4 class="inline-header">Songs:</h4>
                      <div class="list-group-item" ng-repeat="song in albumsShowCtrl.album.songs">
                        <button type="button" class="btn btn-info" ng-hide="editing" ng-click="editing = true"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button type="button" class="btn btn-danger" ng-hide="editing" ng-click="albumsShowCtrl.deleteSong(song)"><span class="glyphicon glyphicon-remove"></span></button>
                        <button type="button" class="btn btn-success" ng-show="editing" ng-click="albumsShowCtrl.editSong(song); editing = false"><span class="glyphicon glyphicon-ok"> Save</span></button>
                        ({{song.trackNumber}})
                        <span ng-hide="editing">{{song.name}}</span>
                        <input ng-show="editing" ng-model="song.name" type="text" class="form-control input-md">
                      </div>
                      <hr>
                      <input ng-model="albumsShowCtrl.newSong.trackNumber" placeholder="Track number" type="number" class="form-control input-md">
                      <input ng-model="albumsShowCtrl.newSong.name" placeholder="Track name" type="text" class="form-control input-md">
                      <button type="button" class="btn btn-success" ng-click="albumsShowCtrl.createSong()"><span class="glyphicon glyphicon-plus"></span> Add New Song</button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
